*{
    margin: 0 !important;
    padding: 0 !important;
    
}
.header{
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    background-color:#0B5ED7;
}
.back{
    padding-left: 200px !important;
    font-size: 20px;
    
    
}

.header a{
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;

}

.img{
 display: block;
 margin-left: auto;
 margin-right:auto;
 width: 300px;
 height: 200px;
}
@media(max-width:900px){
    .header{
        justify-content: end;
        display: flex;
        align-items: end;
        }
    }
/*Contact information*/
.contact{
    background-position:center;
    background-size: cover;
    background-image: url(pic4.jpg);
}
.summary{
    background-position:center;
    background-size: cover;
    background-image: url(pic7.jpg);
    color: white
}
.cont{
    margin-top: 25px !important;
    color: white;
    justify-content: center !important;
    align-items: center !important;
    padding-left: 60% !important;
    font-size: 20px;
}
.cont a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.contact.bacc{
    align-items: end !important;
}
.bacc{
    justify-content: center !important;
    align-items: center !important;
    padding-left: 85% !important;
    background-color: green;
}
.bacc a{
    text-decoration: none;
    font-size: 20px;
    color: blue;
}
#cvBody{
    background-image: url(pic8.jpg);
}
